<% provide(:title, @user.username) %>
<p>
User Name: <%= @user.username %>
</p>

<p>
Email: <%= @user.email %>
</p>
<p>
First Name: <%= @user.firstname %>
</p>

<p>
Last Name: <%= @user.lastname %>
 </p>

<p>
Max Rent: <%= @user.maxrent %>
</p>
