<% provide(:title, @user.username) %>

<h1>Account Information</h1>
<p>
User Name: <%= @user.username %>
</p>

<p>
Email: <%= @user.email %>
</p>
<p>
First Name: <%= @user.firstname %>
</p>

<p>
Last Name: <%= @user.lastname %>
 </p>

<% if current_user.customer? %>
<p>
Max Rent: <%= @user.maxrent %>
</p>
<% end %>

<% if current_user.agent? %>
<p>
Type of Account: Agent
</p>
<% end %>

<% if current_user.owner? %>
<p>
Type of Account: Owner
</p>
<% end %>

<% if current_user.customer? %>
<p>
Type of Account: Customer
</p>
<% end %>

<p>
<% if current_user.owner? %> 
<h3>Properties (<%= @user.properties.count %>)</h3>
<h2>Active Properties</h2>
   <% if @user.properties.any? %>
      <ul >
      <% @user.properties.each do |property| %>
      <% if !property.deactivated %>
        <li>
      <%= link_to property.address, property %>, added 
      <%= time_ago_in_words(property.created_at) %> ago. 
      
       | <%= link_to "delete Property", property, method: :delete,
                                  data: { confirm: "You sure?" } %>
     |<%= link_to 'Update Property', edit_property_path(property) %>

 <%= form_for(property) do |f| %>
     <%= label :deactivated, "To mark property as deleted, check off the box and press deactivate:" %>
        <%= f.check_box :deactivated %>
        <%= f.submit "Deactivate Property", class: "btn btn-danger",  data: { confirm: "You sure?" } %>
        <% end %>
     <br/>   
     <% end %>
     <% end %>
    </li>
      </ul>
    
      <% else %>
    <p>
    Sorry, you have no properties
    </p>
     <% end %>
<% end %>
</p>

 <p>
<% if current_user.owner? %> 
<h2>Deactivated Properties</h2>
   <% if @user.properties.any? %>
      <ul >
      <% @user.properties.each do |property| %>
       <% if property.deactivated? %>
        <li>
      <%= link_to property.address, property %>, added 
      <%= time_ago_in_words(property.created_at) %> ago. 
      
       | <%= link_to "delete Property", property, method: :delete,
                                  data: { confirm: "You sure?" } %>
     |<%= link_to 'Update Property', edit_property_path(property) %>
     <% end %>
     <% end %>
    </li>
      </ul>

     <% end %>
<% end %>
</p>

 
                      
