<% provide(:title, @user.username) %>
<div class="row">
        <%= @user.username %>
        </br>
        <%= @user.email %>
        </br>
        <%= @user.firstname %>
        </br>
        <%= @user.lastname %>
        </br>
        <%= @user.maxrent %>
        </br>
</div>